blueprints/scenario-4.json
{
    "name": "Daily Service Demand Analytics",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 4633551
            },
            "mapper": {
                "from": "drive",
                "sheetId": "Client_Requests",
                "sortOrder": "asc",
                "spreadsheetId": "1MzJxkOjZNQ-KHV__wnJhCYHxIjk4EevQDfKTaETV6uo",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Client_Requests"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Prime Flow Solutions Automation"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (subash.test317@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Contact Date (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Client Name (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Email (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Service Required (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Project Description (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Budget (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Deadline (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Status (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "Last Notified Status (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "Last Status Update (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "Reminder Sent (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "Comments (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": {
                "name": "Today",
                "conditions": [
                    [
                        {
                            "a": "{{formatDate(1.`0`; \"YYYY-MM-DD\")}}",
                            "b": "{{formatDate(now; \"YYYY-MM-DD\")}}",
                            "o": "text:equal"
                        },
                        {
                            "a": "{{1.`7`}}",
                            "b": "Rejected",
                            "o": "text:notequal"
                        }
                    ]
                ]
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "util:FunctionAggregator2",
                            "version": 1,
                            "parameters": {
                                "fn": "count",
                                "feeder": 1
                            },
                            "filter": {
                                "name": "Service Required",
                                "conditions": []
                            },
                            "mapper": {
                                "value": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Google Sheets - Search Rows [1]"
                                        }
                                    },
                                    "parameters": {
                                        "fn": {
                                            "label": "COUNT"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "fn",
                                        "type": "select",
                                        "label": "Aggregate function",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "avg",
                                                "sum",
                                                "count",
                                                "max",
                                                "min"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "number",
                                        "label": "Value"
                                    }
                                ],
                                "advanced": true
                            },
                            "flags": {
                                "groupBy": "{{1.`3`}}"
                            }
                        },
                        {
                            "id": 4,
                            "module": "datastore:AddRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 93898
                            },
                            "mapper": {
                                "key": "daily_{{formatDate(now; \"YYYY-MM-DD\")}}_service_{{3.`__IMTKEY__`}}",
                                "data": {
                                    "Date": "{{formatDate(now; \"YYYY-MM-DD\")}}",
                                    "label": "‣ {{3.`__IMTKEY__`}} :",
                                    "value": "{{3.result}}",
                                    "metric": ""
                                },
                                "overwrite": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "Prime Flow Solutions"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "Date",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "metric",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "value",
                                                "type": "number",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "util:FunctionAggregator2",
                            "version": 1,
                            "parameters": {
                                "fn": "count",
                                "feeder": 1
                            },
                            "filter": {
                                "name": "Total Applicants",
                                "conditions": []
                            },
                            "mapper": {
                                "value": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Google Sheets - Search Rows [1]"
                                        }
                                    },
                                    "parameters": {
                                        "fn": {
                                            "label": "COUNT"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "fn",
                                        "type": "select",
                                        "label": "Aggregate function",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "avg",
                                                "sum",
                                                "count",
                                                "max",
                                                "min"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "number",
                                        "label": "Value"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 6,
                            "module": "datastore:AddRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 93898
                            },
                            "mapper": {
                                "key": "daily_{{formatDate(now; \"YYYY-MM-DD\")}}_total_applicants",
                                "data": {
                                    "Date": "{{formatDate(now; \"YYYY-MM-DD\")}}",
                                    "label": "",
                                    "value": "{{5.result}}",
                                    "metric": "📦 Total Applications :"
                                },
                                "overwrite": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "Prime Flow Solutions"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "Date",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "metric",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "value",
                                                "type": "number",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 14,
                            "module": "datastore:AddRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 93898
                            },
                            "mapper": {
                                "key": "",
                                "data": {
                                    "Date": "{{formatDate(now; \"YYYY-MM-DD\")}}",
                                    "label": "",
                                    "value": "",
                                    "metric": ""
                                },
                                "overwrite": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "Prime Flow Solutions"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "Date",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "metric",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "value",
                                                "type": "number",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "datastore:SearchRecord",
                            "version": 1,
                            "parameters": {
                                "limit": null,
                                "datastore": 93898,
                                "continueWhenNoRes": false
                            },
                            "mapper": {
                                "sort": [],
                                "filter": [
                                    [
                                        {
                                            "a": "Date",
                                            "b": "{{formatDate(now; \"YYYY-MM-DD\")}}",
                                            "o": "text:equal"
                                        }
                                    ]
                                ],
                                "mappAbleLimit": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "datastore": {
                                            "label": "Prime Flow Solutions"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module returns no results"
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://datastore/1.15.1/RpcGetUDTKeys",
                                        "required": true
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "select",
                                                "label": "Key",
                                                "dynamic": true,
                                                "options": [],
                                                "required": true
                                            },
                                            {
                                                "name": "order",
                                                "type": "select",
                                                "label": "Order",
                                                "options": [
                                                    {
                                                        "label": "Ascending",
                                                        "value": 1
                                                    },
                                                    {
                                                        "label": "Descending",
                                                        "value": -1
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "mappAbleLimit",
                                        "type": "uinteger",
                                        "label": "Mappable Limit"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "help": "",
                                                "name": "Date",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "",
                                                "name": "metric",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "",
                                                "name": "label",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "help": "",
                                                "name": "value",
                                                "type": "number",
                                                "label": null,
                                                "default": null,
                                                "required": false
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "util:TextAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 7,
                                "rowSeparator": "\n"
                            },
                            "mapper": {
                                "value": "{{7.data.metric}} {{7.data.label}} {{7.data.value}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Data store - Search records [7]"
                                        }
                                    },
                                    "parameters": {
                                        "rowSeparator": {
                                            "label": "New row"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "rowSeparator",
                                        "type": "select",
                                        "label": "Row separator",
                                        "validate": {
                                            "enum": [
                                                "\n",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 9,
                            "module": "discord:createMessage",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 4681157
                            },
                            "mapper": {
                                "select": "channel",
                                "content": "📊 Daily Service Demand – Prime Flow Solutions\n\r\n📅 Date: {{formatDate(now; \"DD-MMM-YYYY\")}}\r\n\n🧩 Service Requests :\n{{8.text}}",
                                "channelId": "1470409181763993600",
                                "message_reference": {}
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "tts": {
                                            "mode": "chose"
                                        },
                                        "files": {
                                            "mode": "chose"
                                        },
                                        "embeds": {
                                            "mode": "chose"
                                        },
                                        "select": {
                                            "label": "Send a Message to a Channel"
                                        },
                                        "channelId": {
                                            "mode": "chose",
                                            "label": "daily_summary"
                                        },
                                        "components": {
                                            "mode": "chose"
                                        },
                                        "sticker_ids": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "discord"
                                            },
                                            "label": "My Discord connection (Make (team1278341651986911253))"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:discord",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Choose a Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "channel",
                                                "thread",
                                                "user"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Message"
                                    },
                                    {
                                        "name": "tts",
                                        "type": "boolean",
                                        "label": "Is TTS message"
                                    },
                                    {
                                        "name": "embeds",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "description",
                                                "type": "text",
                                                "label": "Description"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "timestamp",
                                                "type": "date",
                                                "label": "Timestamp"
                                            },
                                            {
                                                "name": "color",
                                                "type": "uinteger",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "footer",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "icon_url",
                                                        "type": "url",
                                                        "label": "Icon URL"
                                                    },
                                                    {
                                                        "name": "proxy_icon_url",
                                                        "type": "url",
                                                        "label": "Proxy Icon URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Footer"
                                            },
                                            {
                                                "name": "image",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    },
                                                    {
                                                        "name": "proxy_url",
                                                        "type": "url",
                                                        "label": "Proxy URL"
                                                    },
                                                    {
                                                        "name": "height",
                                                        "type": "uinteger",
                                                        "label": "Height"
                                                    },
                                                    {
                                                        "name": "width",
                                                        "type": "uinteger",
                                                        "label": "Width"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Image"
                                            },
                                            {
                                                "name": "thumbnail",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    },
                                                    {
                                                        "name": "proxy_url",
                                                        "type": "url",
                                                        "label": "Proxy URL"
                                                    },
                                                    {
                                                        "name": "height",
                                                        "type": "uinteger",
                                                        "label": "Height"
                                                    },
                                                    {
                                                        "name": "width",
                                                        "type": "uinteger",
                                                        "label": "Width"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thumbnail"
                                            },
                                            {
                                                "name": "video",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    },
                                                    {
                                                        "name": "height",
                                                        "type": "uinteger",
                                                        "label": "Height"
                                                    },
                                                    {
                                                        "name": "width",
                                                        "type": "uinteger",
                                                        "label": "Width"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Video"
                                            },
                                            {
                                                "name": "provider",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Provider"
                                            },
                                            {
                                                "name": "author",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    },
                                                    {
                                                        "name": "icon_url",
                                                        "type": "url",
                                                        "label": "Icon URL"
                                                    },
                                                    {
                                                        "name": "proxy_icon_url",
                                                        "type": "url",
                                                        "label": "Proxy Icon URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Author"
                                            },
                                            {
                                                "name": "fields",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "inline",
                                                        "type": "boolean",
                                                        "label": "Inline Flag"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Fields"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Embeds"
                                    },
                                    {
                                        "name": "sticker_ids",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "Sticker ID",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Stickers"
                                    },
                                    {
                                        "name": "components",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Component Type",
                                                "options": [
                                                    {
                                                        "label": "A New Row",
                                                        "value": 1,
                                                        "nested": [
                                                            {
                                                                "name": "components",
                                                                "spec": [
                                                                    {
                                                                        "name": "type",
                                                                        "type": "select",
                                                                        "label": "Row Component Type",
                                                                        "options": [
                                                                            {
                                                                                "label": "Button",
                                                                                "value": 2,
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "style",
                                                                                        "type": "select",
                                                                                        "label": "Style",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Primary (blurple)",
                                                                                                "value": 1,
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                                        "name": "custom_id",
                                                                                                        "type": "text",
                                                                                                        "label": "Custom ID",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "Secondary (grey)",
                                                                                                "value": 2,
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                                        "name": "custom_id",
                                                                                                        "type": "text",
                                                                                                        "label": "Custom ID",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "Success (green)",
                                                                                                "value": 3,
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                                        "name": "custom_id",
                                                                                                        "type": "text",
                                                                                                        "label": "Custom ID",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "Danger (red)",
                                                                                                "value": 4,
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                                        "name": "custom_id",
                                                                                                        "type": "text",
                                                                                                        "label": "Custom ID",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "Link (grey)",
                                                                                                "value": 5,
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "help": "A URL for link-style buttons.",
                                                                                                        "name": "url",
                                                                                                        "type": "url",
                                                                                                        "label": "URL",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        ],
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "Text that appears on the button, max 80 characters.",
                                                                                        "name": "label",
                                                                                        "type": "text",
                                                                                        "label": "Label"
                                                                                    },
                                                                                    {
                                                                                        "name": "disabled",
                                                                                        "type": "boolean",
                                                                                        "label": "Disabled"
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Select Menu",
                                                                                "value": 3,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "options",
                                                                                        "spec": [
                                                                                            {
                                                                                                "help": "The user-facing name of the option, max 100 characters.",
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "help": "The dev-defined value of the option, max 100 characters.",
                                                                                                "name": "value",
                                                                                                "type": "text",
                                                                                                "label": "Value",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "help": "An additional description of the option, max 100 characters.",
                                                                                                "name": "description",
                                                                                                "type": "text",
                                                                                                "label": "Description"
                                                                                            },
                                                                                            {
                                                                                                "name": "default",
                                                                                                "type": "boolean",
                                                                                                "label": "Default"
                                                                                            }
                                                                                        ],
                                                                                        "type": "array",
                                                                                        "label": "Options",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "maxItems": 25
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "help": "Custom placeholder text if nothing is selected, max 150 characters.",
                                                                                        "name": "placeholder",
                                                                                        "type": "text",
                                                                                        "label": "Placeholder"
                                                                                    },
                                                                                    {
                                                                                        "help": "The minimum number of items that must be chosen; default 1, min 0, max 2.",
                                                                                        "name": "min_values",
                                                                                        "type": "uinteger",
                                                                                        "label": "Minimum values"
                                                                                    },
                                                                                    {
                                                                                        "help": "The maximum number of items that must be chosen; default 1, max 25.",
                                                                                        "name": "max_values",
                                                                                        "type": "uinteger",
                                                                                        "label": "Maximum values"
                                                                                    },
                                                                                    {
                                                                                        "name": "disabled",
                                                                                        "type": "boolean",
                                                                                        "label": "Disabled"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Row Components",
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Components"
                                    },
                                    {
                                        "name": "files",
                                        "spec": [
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File Name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Files"
                                    },
                                    {
                                        "name": "message_reference",
                                        "spec": [
                                            {
                                                "name": "message_id",
                                                "type": "text",
                                                "label": "Message ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Message Reference"
                                    },
                                    {
                                        "name": "channelId",
                                        "type": "select",
                                        "label": "Channel ID",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}